.container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.fastimg{
    width: 100%;
}
.buton{
    background-color:rgb(223, 28, 28);
    border: none;
    border-radius: 30px;
    padding: 8px;
}
.fastVision{
    background-color: rgba(55, 133, 133, 0.322);
    height: 260px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
}
.secadVision{
    background-color: rgba(250, 235, 215, 0.521);
    height: 260px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
}
.thardVision{
    background-color: rgba(127, 255, 212, 0.322);
    height: 260px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
}
.siddik{
    position: relative;
    top: 60px;
}
.leftRed{
    border-left: 4.5px solid red;
    
}